{% extends "base_generic.html" %}

{% block title %}Bidder Summary{% endblock %}

{% block content %}
<main id="summary">

    <form action="" method="post" {% if search_active %}class="search_active"{% endif %}>
        {% csrf_token %}
        {{ search_form.as_table }}
        <input type="submit" value="Search">
        {% if search_active %}
        <a href="{% url 'summary' %}" class="button">Show All</a>
        {% endif %}
    </form>
    
<ul>
    <li><a href="{% url 'bidder-create' %}" class="button"><i class="fas fa-plus"></i> New Bidder</a></li>
    <li><a href="{% url 'packing-list' %}" class="button">Packing List</a></li>
</ul>

<table>
    <tbody>
    <tr>
        <th>ID 
            {% if sort == 'by-name' %}
            <a href="{% url 'summary' %}"><i class="fas fa-arrow-down" style="color: rgb(150,150,150)"></i></a>
            {% else %}
            <i class="fas fa-arrow-circle-down"></i>
            {% endif %}
        </th>  
        <th>Name 
            {% if sort == 'by-name' %}
            <i class="fas fa-arrow-circle-down"></i>
            {% else %}
            <a href="{% url 'summary-byname' %}"><i class="fas fa-arrow-down" style="color: rgb(150,150,150)"></i></a>
            {% endif %}
        </th>
        <th>Amount Owed</th>
        <th>Paid</th>
        <th>Edit</th>
    </tr>
    {% for bidder in bidders %}
    <tr>
        <td>{{ bidder.id }}</td>
        <td><a href="{{bidder.get_invoice_url}}">{{ bidder }}</a></td>
        <td>{{ bidder.amount_owed }}</td>
        {% if bidder.payment_complete %}
            <td class="paid"><i class="fas fa-check-circle"></i></td>
        {% else %}
            <td class="notpaid"><i class="fas fa-times-circle"></i></td>
        {% endif %}
        <td><a href="{{bidder.get_edit_url}}"><i class="fas fa-edit"></i></a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
    {% if total and search_active == False %}
    <p>Total Auction Revenue: ${{ total }}</p>
    {% endif %}
</main>

{% endblock %}